<div class="details-container">
    <div class="details-data-available-container" ng-if="$ctrl.isDataLoaded === true">
        <header class="details-header">
            <div class="details-city-name">
                <h1>
                    {{$ctrl.cityName}}, {{$ctrl.countryCode}}
                </h1>
            </div>
        </header>
        
        <main class="details-main">
            <div class="details-main-table-container">
                <forecast 
                    forecast-list="$ctrl.forecastList" 
                    go-back-to-home="$ctrl.goBackToHome()">
                </forecast>
            </div>
        </main>
    </div>

    <div ng-if="$ctrl.isDataLoaded === false" class="data-retrieving-container text-center">
        <div class="data-retrieving-message">
            <h4>
                {{$ctrl.template.loadingMessage}}
            </h4>
        </div>
    </div>
</div>